.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

.vendor {
  font-size: 250px;
  border-radius: 5px;
  padding: 5px;
  background-color: blue;
  color: white;
}

.base-button {
  font-size: 20px;
  border-radius: 5px;
  padding: 50px;
  background-color: blue;
  color: white;
}

.fancy-button {
  background-color: blue;
  color: white;
}

.fancy-button:hover {
  background-color: darkblue;
}

.fancy-button:active {
  background-color: dodgerblue;
}

.secondary-button {
  background-color: grey;
  color: white;
}

.secondary-button:hover {
  background-color: green;
}

.secondary-button:active {
  background-color: dodgerblue;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
