<h1 class="text-center">Welcome to WellWed!</h1>
<h5 class="text-center">We are here to help you find the wedding vendors that will make your wedding day all that it should be. Let's get started.</h5>

<p>
<div class="container">
    <div class="row">
        <div class="col-sm">
          <img src="https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8d2VkZGluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Wedding" class="img-thumbnail">

        <div class="list-group">
          <a href="/vendors" class="list-group-item list-group-item-action">All Vendors</a>
          <a href="/add_vendor" class="list-group-item list-group-item-action">Add a Vendor</a>
        </div>
        </p>
      </div>
   

      <div class="col-sm">
            <img src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2VkZGluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Wedding" class="img-thumbnail" >

          
            <% if session.fetch(:user_id) == nil %>
              <div class="list-group">
                <a class="list-group-item list-group-item-action" href="/user_sign_up">Sign Up</a>
                <a class="list-group-item list-group-item-action" href="/user_sign_in">Sign In</a>
              </div>

            <% else %>
              <div class="list-group">
                <a class="list-group-item list-group-item-action" href="/bookmarks/<%= @current_user.id %>">Saved Vendors</a>
              </div>
            <% end %>
          
        </div>
      </div>
    </div>
    
